.main{
  min-height: 100vh;
  width: 100vw;
  background-color: #E4DEF0;
  display: flex;
  /* justify-content: space-evenly; */
}
.section1{
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.section2{
  width: 60%;
  /* background-color: yellow; */
}
@media (max-width:600px) {
  .main{
    min-height: 100vh;
    display: block;
  }
.section1{
  width: 100%;
}
.section2{
  width: 100%;
}
}